In [180]:
import pandas as pd
import numpy as np
import dash 
import matplotlib as plt

Daily Sales openned and concatenated

In [181]:
x= pd.read_csv(r"C:\Users\pablo\OneDrive\Escritorio\forage\quantium\1\quantium-task-1-model-answer\data\daily_sales_data_0.csv")
y= pd.read_csv(r"C:\Users\pablo\OneDrive\Escritorio\forage\quantium\1\quantium-task-1-model-answer\data\daily_sales_data_1.csv")
z= pd.read_csv(r"C:\Users\pablo\OneDrive\Escritorio\forage\quantium\1\quantium-task-1-model-answer\data\daily_sales_data_2.csv")
df = pd.concat([x, y, z], ignore_index=True)

Filerering

In [182]:
in_pink_morsel = df['product'] == 'pink morsel'
df_pink_morsel = df[in_pink_morsel]
df_pink_morsel.reset_index()
df_pink_morsel.head(5)

        product  price  quantity        date region
0   pink morsel  $3.00       546  2018-02-06  north
1   pink morsel  $3.00       549  2018-02-06  south
2   pink morsel  $3.00       577  2018-02-06   east
3   pink morsel  $3.00       519  2018-02-06   west
28  pink morsel  $3.00       529  2018-02-07  north

Changing column price type str to float

In [183]:
df_pink_morsel['price'].str.replace("$","").astype(float)

0        3.0
1        3.0
2        3.0
3        3.0
28       3.0
        ...
41107    5.0
41132    5.0
41133    5.0
41134    5.0
41135    5.0
Name: price, Length: 5880, dtype: float64

Adding column sales multiplying price and quantity

In [184]:
df_pink_morsel['sales'] = (df_pink_morsel['price'].str.replace("$","").astype(float))*(df_pink_morsel['quantity'])
df_pink_morsel.reset_index()
df_pink_morsel.head()

C:\Users\pablo\AppData\Local\Temp\ipykernel_9020\3859702895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pink_morsel['sales'] = (df_pink_morsel['price'].str.replace("$","").astype(float))*(df_pink_morsel['quantity'])

        product  price  quantity        date region   sales
0   pink morsel  $3.00       546  2018-02-06  north  1638.0
1   pink morsel  $3.00       549  2018-02-06  south  1647.0
2   pink morsel  $3.00       577  2018-02-06   east  1731.0
3   pink morsel  $3.00       519  2018-02-06   west  1557.0
28  pink morsel  $3.00       529  2018-02-07  north  1587.0

In [185]:
df_pink_morsel =df_pink_morsel.drop(columns=["product","price","quantity"])
df_pink_morsel = df_pink_morsel.dropna(axis=1, how='all')
df_pink_morsel.head()

          date region   sales
0   2018-02-06  north  1638.0
1   2018-02-06  south  1647.0
2   2018-02-06   east  1731.0
3   2018-02-06   west  1557.0
28  2018-02-07  north  1587.0

In [187]:
df_pink_morsel.to_csv(r'C:\Users\pablo\OneDrive\Escritorio\forage\quantium\1\quantium-task-1-model-answer\formated_data.csv')